body {
  font-family: "Futura PT", sans-serif;
  background-color: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px 0 70px;
}
.header__logo {
  display: flex;
}
.header__logo-image {
  width: 48px;
  height: auto;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__nav-list {
  display: flex;
  list-style: none;
}
.header__nav-item {
  padding-left: 38px;
}
.header__nav-link {
  text-decoration: none;
  color: #2f2222;
  font-size: 18px;
}
.header__nav-link--active {
  text-decoration: underline;
  color: #5d71dd;
}
.header__nav-toggle {
}
.header__menu-button {
  display: flex;
}
.header__menu-icon {
  width: 30px;
  height: 30px;
}
.header__contact {
  display: flex;
}
.header__contact-icon {
  padding-left: 38px;
  padding-right: 8px;
}
.header__contact-number {
  color: #5d71dd;
  font-weight: 450;
  font-size: 18px;
  text-decoration: none;
}
.header__menu-button {
  display: none;
}
@media (max-width: 768px) {
  @keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  .header__nav {
    opacity: 0;
    visibility: hidden;

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e4e4e4;
    flex-direction: column-reverse;
  }

  .header__nav.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.6s ease, visibility 0s 0s, transform 0.6s ease;
  }

  .header__nav.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.6s ease, visibility 0s 0.6s, transform 0.6s ease;
  }

  .header__nav.visible .header__nav-list,
  .header__nav.hidden .header__nav-list {
    flex-direction: column;
    padding: 15px 0;
  }
  .header__nav.visible .header__nav-item,
  .header__nav.hidden .header__nav-item {
    padding: 5px 0;
  }
  .header__nav.visible .header__nav-toggle,
  .header__nav.hidden .header__nav-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .header__menu-button {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
  }
}

.banner__image {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0 30px;
}
.articles {
  width: 1040px;
}
.sidebar {
  width: 320px;
  color: #2f2222;
  padding-top: 34px;
}
.sidebar__title {
  font-size: 24px;
  font-weight: 450;
}
.sidebar__news-title {
  font-size: 18px;
}
.sidebar__news-link {
  text-decoration: none;
  color: #2f2222;
}
.sidebar__news-date {
  color: #2f222266;
  display: block;
  margin-top: 11px;
  font-size: 18px;
}
.sidebar__list {
  list-style: none;
  padding-top: 21px;
}
.sidebar__item {
  padding-top: 6px;
  border-bottom: 1px solid #2f22221a;
  padding-bottom: 14px;
}
.sidebar__item:hover .sidebar__news-link {
  color: #5d71dd;
}
.sidebar__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  background-color: white;
  border-radius: 20px;
  padding: 30px 0;
}
.sidebar__form-label {
  font-size: 24px;
  font-weight: 450;
}
.sidebar__form-input {
  background-color: #f5f5f5;
  padding: 13px 32px;
  border-radius: 20px;
  font-size: 17px;
  color: #2f222266;
  margin-top: 33px;
}
.sidebar__form-input:hover {
  background-color: #f9f9f9;
}
.sidebar__form-button {
  display: flex;
  align-items: center;
  background-color: #5d71dd;
  border-radius: 20px;
  padding: 13px 68px;
  color: white;
  font-size: 16px;
  margin-top: 23px;
  cursor: pointer;
}
.sidebar__form-button:hover {
  background-color: #6c7dd8;
}
.sidebar__form-button-icon {
  padding-left: 9px;
}
.article {
  display: flex;
  gap: 30px;
  margin-top: 33px;
}
.article__category {
  padding: 8px 16px;
  border-radius: 8px;
  color: #5d71dd;
  text-decoration: none;
}
.article__title {
  font-size: 24px;
  font-weight: 450;
  padding-top: 32px;
}
.article__meta {
  display: flex;
  justify-content: space-between;
}
.article__text {
  color: #2f222266;
  padding-top: 25px;
  font-size: 18px;
  padding-right: 44px;
}
.article__date {
  color: #2f222266;
}
.article__content {
  flex: 1;
  padding: 40px 25px 31px 25px;
  border-radius: 20px;
  background-color: #ffffff;
}
.article__content:focus {
  outline: 1.5px solid #5d71dd;
}
.article__content:hover {
  box-shadow: 4px 8px 40px 0px #08186f33;
}
.article__related-meta,
.article__related-date {
  color: white;
}

.article__related {
  display: flex;
  width: 320px;
  background-color: #5d71dd;
  border-radius: 20px;
  padding: 48px 29px;
}
.article__related:hover {
  box-shadow: 4px 8px 40px 0px #08186f33;
  background-color: #ffffff;
}
.article__related-category--blue {
  background-color: #7d8de4;
  color: white;
  text-decoration: none;
}
.article__related-category--transparent {
  background-color: #5d71dd0d;
}
.article__related-category {
  padding: 8px 16px;
  border-radius: 8px;
}
/*------------ */
.article__related--hover:hover .article__title-link {
  color: #2f2222;
}
.article__related--hover:hover .article__related-category {
  color: #5d71dd;
  background-color: #5d71dd0d;
}
.article__related--hover:hover .article__related-date {
  color: #2f222266;
}
.article .article__category:hover,
.article .article__related-category:hover {
  background-color: #5d71dd26;
}
.article .article__related-meta .rticle__related-category--hover:hover {
  background-color: #ffffff66;
}
.article__related-title {
  font-size: 24px;
  padding-top: 40px;
}
.article__related-date {
  display: block;
}
.article__related-item,
.article__content-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}

.article__related-item {
  display: flex;
  flex-direction: column;
}
.header__nav-link:hover {
  color: #5d71dd;
}
.article--row-reverse {
  flex-direction: row-reverse;
}
.article--row-reverse .article__related-category {
  background-color: #ffffff33;
}
.article__related--rectangle {
  background-image: url("./img/Rectangle.png");
  background-size: cover;
  background-position: center;
}
.article__related--group {
  background-image: url("./img/Group.png");
  background-size: cover;
  background-position: center;
}
.article__title-link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
  margin-bottom: 100px;
}
.pagination__item {
  padding: 0 10px;
}
.pagination__item-number {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
.pagination__item-number:hover {
  color: #5d71dd;
}
.pagination__button {
  display: flex;
  align-items: center;
  color: #5d71dd;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  margin-left: 8px;
}
.pagination__button:hover {
  background-color: #5d71dd26;
}
.pagination__button:active {
  background-color: #5d71dd33;
}
.pagination__item-number--active {
  color: #5d71dd;
  text-decoration: underline;
}
.pagination__button-icon {
  padding-left: 8px;
}
.footer {
  background-color: #5d71dd0d;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 43px;
}
.footer__logo {
  width: 50px;
  height: auto;
}
.footer__nav {
  padding-top: 34px;
}
.footer__nav-list {
  list-style-type: none;
  display: flex;
}
.footer__nav-item {
  padding: 0 40px;
}
.footer__nav-link {
  font-size: 18px;
  color: #2f2222;
  text-decoration: none;
}
.footer__copy {
  font-size: 14px;
  color: #2f2222;
  padding-top: 66px;
  padding-bottom: 40px;
}

@media (max-width: 1440px) {
  .content {
    flex-direction: column;
    padding: 0 50px;
  }
  .articles {
    width: 100%;
    margin: 0 auto;
  }
  .header__logo-image {
    width: 43px;
  }
  .sidebar {
    width: 100%;
    padding-top: 10px;
  }
  .sidebar__list {
    display: flex;
  }
  .sidebar__item {
    border: 0;
    width: 33%;
  }
  .pagination {
    margin-bottom: 0;
  }
  .sidebar__form {
    align-items: flex-start;
    width: 800px;
    margin: 0 auto;
    padding: 80px 0 110px;
  }
  .sidebar__form-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding-top: 35px;
  }
  .sidebar__form-button {
    margin-top: 0;
    width: 35%;
    justify-content: center;
  }
  .sidebar__form-button:focus {
    border: 1.5px solid #2f2222;
  }
  .sidebar__form-input {
    margin-top: 0;
    width: 65%;
  }
}
@media (max-width: 992px) {
  .header__nav-item {
    padding-left: 30px;
  }
  .header__contact-icon {
    padding-left: 30px;
  }
  .article__content {
    padding: 25px 20px 25px 20px;
  }
  .article__related {
    padding: 35px 20px;
  }
  .content {
    padding: 0 30px;
    gap: 30px;
  }
  .pagination {
    margin-top: 50px;
  }
  .sidebar__list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sidebar__item {
    width: 50%;
  }
  .sidebar__form {
    width: 100%;
    padding: 50px 0 74px;
  }
  .footer {
    padding-top: 35px;
  }
  .footer__nav {
    padding-top: 25px;
  }
  .footer__copy {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .article__related {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 28px 0;
  }
  .content {
    padding: 0 20px;
    gap: 20px;
  }
  .article {
    gap: 20px;
    margin-top: 20px;
  }
  .article__related-item,
  .article__content-group {
    gap: 20px;
  }
  .article__title {
    padding-top: 20px;
  }
  .article__text {
    padding-top: 17px;
    padding-right: 20px;
  }
  .sidebar__item {
    width: 100%;
  }
  .article {
    flex-direction: column-reverse;
  }
  .article__related,
  .article {
    width: 100%;
  }
  .pagination {
    margin-top: 30px;
  }
  .article__title,
  .article__related-title,
  .sidebar__title,
  .sidebar__form-label {
    font-size: 21px;
  }
  .article__text,
  .sidebar__news-title,
  .sidebar__news-date,
  .pagination__item-number,
  .pagination__button,
  .footer__nav-link,
  .header__contact-number {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .sidebar__form-container {
    flex-direction: column;
  }
  .sidebar__form-input,
  .sidebar__form-button {
    width: 100%;
  }
  .sidebar__form {
    padding: 30px 0 60px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__nav {
    padding-top: 20px;
  }
  .footer__nav-item {
    padding: 0 25px;
  }
  .footer__copy {
    padding-top: 35px;
    padding-bottom: 30px;
  }
}
